[defaults]
inventory = ./inventory
remote_tmp = ~/.ansible/tmp
remote_user = pi
host_key_checking = False
retry_files_enabled = False
roles_path = ./roles
timeout = 30
roles_path = ./roles
deprecation_warnings = False
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root

